
/* HEADER */
.container {
    width: 100%;
}
.header {
    background-color: #636C78;
    background-size:cover;
    padding-bottom:80px;
}
  
@media (min-width:768px) {
    .header {
      padding-bottom: 0px;
    }
}
  
.header .navbar {
    background:transparent;
    padding-top:0;
    padding-bottom:0;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
}
  
@media (min-width:768px) {
    .header .navbar {
      padding-top:.75rem;
      padding-bottom:.75rem;
    }
}
  
 .header .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
  }

  
  .header .navbar .navbar-collapse span {
    margin-top:5px;
  }
  
  .header .navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
  }
  
  .header .navbar .navbar-collapse span .login:hover {
    color:#fff;
  }
  
  .header .navbar .navbar-toggler {
    border-color:#747474;
  }
  
  .header .navbar .navbar-toggler:hover, .header .navbar-toggler:focus {
    background:none;
  }
  
  .header .navbar .navbar-toggler {
    color:#eee;
  }
  
  .header .navbar .navbar-collapse, .header .navbar .form-inline {
    border-color:#636363;
  }
  
  @media (min-width: 992px) {
    .header .navbar.navbar .navbar-nav .nav-link {
      padding-left:1.2rem;
      padding-right:1.2rem;
    }
  }
  
  .header .navbar.navbar .navbar-nav .nav-link {
    color:#d9d9d9;
  }
  
  .header .navbar.navbar .navbar-nav .nav-link:focus, .header .navbar.navbar .navbar-nav .nav-link:hover {
    color:#fcfeff !important;
    background-color:transparent;
  }
  
  .header .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }
  
  .header .navbar .dropdown-menu .dropdown-item:focus, .header .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    font-size:14px;
    color:#37434d;
  }
  
  .header .navbar .dropdown-menu .dropdown-item:focus, .header .navbar .dropdown-menu .drodown-item:hover {
    background:#ebeff1;
  }
  
  .header .navbar .action-button, .header .navbar .action-button:active {
    background:#63717e;
    border-radius:19px;
    font-size:inherit;
    color: #fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
  }
  
  .header .navbar .action-button:hover {
    background:#565C62;
  }
  
  .header- .navbar .form-inline label {
    color:#ccc;
  }
  
  .header .navbar .form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  .header .navbar .form-inline .search-field:focus {
    border-bottom:1px solid #ccc;
  }
  
  .header .hero {
    margin-top:60px;
  }
  
  @media (min-width:768px) {
    .header .hero {
      margin-top:20px;
    }
  }
  
  .header .hero h1 {
    color:#fff;
    font-family:'Bitter', serif;
    font-size:40px;
    margin-top:20px;
    margin-bottom:80px;
  }
  
  @media (min-width:768px) {
    .header .hero h1 {
      margin-bottom:50px;
      line-height:1.5;
    }
  }
  
  .header .hero .embed-responsive iframe {
    background-color:rgb(158, 51, 51);
  }
    .header .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;
  }
  
  .header .navbar .navbar-brand:hover {
    color:#d9d9d9;
  }
  
  .header .navbar .navbar-collapse span {
    margin-top: 5px;
  }
  
  .header .navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
  }
  
  .header .navbar .navbar-collapse span .login:hover {
    color:#fff;
  }
  
  .header .navbar .navbar-toggler {
    border-color:#747474;
  }
  
  .header .navbar .navbar-toggler:hover, .header .navbar-toggler:focus {
    background:none;
  }
  
  .header .navbar .navbar-toggler {
    color:#eee;
  }
  
  .header .navbar .navbar-collapse, .header .navbar .form-inline {
    border-color:#636363;
  }
  
  @media (min-width: 992px) {
    .header .navbar.navbar .navbar-nav .nav-link {
      padding-left:1.2rem;
      padding-right:1.2rem;
    }
  }
  
  .header .navbar.navbar .navbar-nav .nav-link {
    color:#d9d9d9;
  }
  
  .header .navbar.navbar .navbar-nav .nav-link:focus, .header .navbar.navbar .navbar-nav .nav-link:hover {
    color:#fcfeff !important;
    background-color:transparent;
  }
  
  .header .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }
  
  .header .navbar .dropdown-menu .dropdown-item:focus, .header .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    font-size:14px;
    color:#37434d;
  }
  
  .header .navbar .dropdown-menu .dropdown-item:focus, .header .navbar .dropdown-menu .drodown-item:hover {
    background:#ebeff1;
  }
  
  .header .navbar .action-button, .header .navbar .action-button:active {
    background:#208f8f;
    border-radius:20px;
    font-size:inherit;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem .8rem;
    transition:background-color 0.25s;
  }
  
  .header .navbar .action-button:hover {
    background:#269d9d;
  }
  
  .header .navbar .form-inline label {
    color:#ccc;
  }
  
  .header .navbar .form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  .header .navbar .form-inline .search-field:focus {
    border-bottom:1px solid #ccc;
  }
  
  .header .hero {
    margin-top:60px;
  }
  
  @media (min-width:768px) {
    .header .hero {
      margin-top:20px;
    }
  }
  
  .header .hero h1 {
    color:#fff;
    font-family:'Bitter', serif;
    font-size:40px;
    margin-top:20px;
    margin-bottom:80px;
  }
  
  @media (min-width:768px) {
    .header .hero h1 {
      margin-bottom:50px;
      line-height:1.5;
    }
  }
  
  .header .hero .embed-responsive iframe {
    background-color:#666;
  }


/* UNDER */
.ggwp {
    height: 1000px;
}
  



/* FOOTER */
* {
  font-family: Open Sans;
}

/* section {
  width: 100%;
  display: inline-block;
  background: #222;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
} */

.footer-distributed{
	background: radial-gradient(circle, rgba(18,18,18,1) 18%, rgba(15,15,15,1) 100%);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #fff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0 0 0;
}

.footer-distributed h3 span{
	color:  #fff;
}

/* Footer links */

.footer-distributed .footer-links{

	color:  #fff;
	margin: 40px 0 0;
	padding: 0px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #fff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #fff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #fff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #fff;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #fff;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.map {
  display: block;
  width: 100%;
  height: 600px;
  background-color: #222;
  text-align: center;
  
}

.mapframe {
  margin-top: 30px;
  border-radius: 20;
  border: 4px double black;
}
.mapword {
  color: #fff;
  text-align: center;
  font-weight: 900;
  padding-top: 30px;
  font-size: 24px;
}

